.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.gallery img {
  width: 300px;
  height: 300px;
  border: 2px solid rgb(126, 126, 126);
  border-radius: 4px;
  margin: 10px;
}
.gallery-nav {
  text-align: center;
  font-size: 32px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
