@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Signika+Negative:wght@500&display=swap");
.client {
  display: flex;
}
.client h1 {
  padding-top: 15px;
  font-family: "Rubik Moonrocks", cursive;
}
